---
import { getCollection } from 'astro:content'
import { flex, grid } from '@/styled-system/patterns'
import Layout from '@/layouts/layout.astro'
import Glossary from '@/components/Glossary.astro'
import { css } from '@/styled-system/css'

const glossaries = (await getCollection('glossary')).reduce(
	(prev: any, current: any) => {
		const alphabet = current.data.alphabet

		if (!prev[alphabet]) {
			prev[alphabet] = []
		}

		prev[alphabet].push(current)

		return prev
	},
	{},
)
---

<Layout title="Home">
  <div class={flex({ direction: 'column', gap: { base: 6, md: 16 } })}>
    <div class={flex({ pos: 'relative', direction: 'row', justify: 'space-between' })}>
      {
        Object.keys(glossaries).map((alphabet) => (
          <a
            href={`#${alphabet.toLowerCase()}`}
            class={css({
              fontSize: 'xl',
              fontWeight: 600,
              lineHeight: 1,
              mb: 5,
              p: 2,
            })}
          >
            {alphabet}
          </a>
        ))
      }
    </div>
    {
      Object.keys(glossaries).map((alphabet) => (
        <div class={flex({ pos: 'relative', direction: 'column' })}>
          <h2
            id={alphabet.toLowerCase()}
            class={css({
              pos: {
                base: 'relative',
                md: 'absolute',
              },
              top: {
                base: 0,
                md: -16,
              },
              left: {
                base: 0,
                md: -12,
              },
              zIndex: -1,
              fontSize: {
                base: '7xl',
                md: '9xl',
              },
              fontWeight: 600,
              lineHeight: 1,
              mb: 5,
            })}
          >
            {alphabet}
          </h2>
          <div class={grid({ columns: { base: 1, md: 2, lg: 3 }, gap: 3 })}>
            {glossaries[alphabet].map((glossary: any) => (
              <Glossary glossary={glossary} />
            ))}
          </div>
        </div>
      ))
    }
  </div>
</Layout>